.Game {
  font: 14px $font-family;
  margin: 0 auto;
  padding: $spacing-blocks $spacing-blocks / 2;
  max-width: $game-width;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  & > * {
    min-width: 10em;
    margin: 0 $spacing-blocks / 2 $spacing-blocks / 2;
  }
  & > :first-child {
    margin-bottom: $spacing-blocks;
  }
  & > :last-child {
    margin-top: $spacing-blocks / 2;
    margin-bottom: 0;
  }

  button {
    border-color: #aaa;
  }
  button:focus, button:hover {
    border-color: #888;
  }
  button:disabled {
    background: #eee;
    border-color: #aaa;
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr [full-start left-start] $board-width
                          [left-end right-start] minmax(0, $game-width - $board-width - $spacing-blocks)
                          [right-end full-end] 1fr;
    grid-gap: $spacing-blocks;
    margin: $spacing-blocks 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    & > * {
      margin: 0;
      grid-column: full;
      width: 100%;
    }
    & > :first-child {
      margin: 0;
    }
    & >:nth-child(2) {
      grid-column: left;
    }
    & >:nth-child(3) {
      grid-column: right;
    }
    & > :last-child {
      margin: 0;
    }

    @media (max-width: $toggle-block-stacks) {
      grid-template-columns: 0
                             [full-start left-start right-start] 1fr
                             [right-end left-end full-end]
                             0;
      grid-column-gap: $spacing-blocks / 2;
    }
  }
}
